<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div class="container">

            <form class="form-signin">
                <h2 class="form-signin-heading">Tarefa</h2>
               
                <p>
                    <label>Descricão </label>
                    <input type="text" class="input-block-level" ng-model="tarefa.descricao" >
                </p>


                <div class="modal-footer">  
                    <a href="#" class="btn btn-primary"><< voltar</a>  
                <button class="btn btn-primary" ng-click="saveTarefa(tarefa)"  >Salvar</button>
                </div>  



                
            </form>
        </div>
    </body>
</html>
